{% if users %}
    <div id="usersTable">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="t{{ user.id }}">
                    <td class="user-name">{{ user.name }}</td>
                    <td class="user-email">{{ user.email }}</td>
                    <td class="user-role">{{ user.role.toString }}</td>
                    <td class="user-createAt">{{ user.createdAt | date('m/d/Y g:i A') }}</td>
                    <td class="user-updatedAt">{{ user.updatedAt | date('m/d/Y g:i A') }}</td>
                    <td>
                        <div class="d-flex flex-">
                            <button class="ms-2 btn btn-outline-primary edit-user-btn"
                                    data-id="{{ user.id }}">

                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
