<tr class="t{{ category.id }}">
    <td class="category-name">{{ category.name }}</td>
    <td class="category-createAt">{{ category.createdAt | date('m/d/Y g:i A') }}</td>
    <td class="category-updatedAt">{{ category.updatedAt | date('m/d/Y g:i A') }}</td>
    <td>
        <div class="d-flex flex-">
            <form action="/categories/{{ category.id }}" method="post">
                {{ csrf.fields | raw }}
                <input type="hidden" name="_METHOD" value="DELETE" />
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </form>
            <button class="ms-2 btn btn-outline-primary edit-category-btn"
                    data-id="{{ category.id }}">

                <i class="bi bi-pencil-fill"></i>
            </button>
        </div>
    </td>
</tr>